requests_oauthlib
html2text
beautifulsoup4
numpy==1.26.4
scipy
pandas
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

accelerate
aiohttp
aioflask
annotated-types
bitsandbytes
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
datasets
distro
Flask
Flask[async]
Flask-Caching
Flask-Cors
Flask-SQLAlchemy
flask_talisman
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
gunicorn
h11
httpcore
httplib2
httpx
idna
itsdangerous
Jinja2
jiter
MarkupSafe
onnxruntime
praw
prawcore
proto-plus
protobuf
psycopg2
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyMySQL
pyparsing
python-dotenv
pytrends
ratelimit
requests
rsa
sentry-sdk
sniffio
SQLAlchemy
tensorflow
thinc
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
tweepy
typing_extensions
update-checker
uritemplate
urllib3
websocket-client
Werkzeug