# Core dependencies
flask                     # flask for handling web requests
flask-caching             # For caching support
flask-Cors                # For handling Cross-Origin Resource Sharing
flask_talisman            # Security features

# HTTP libraries
requests                  # For making HTTP requests
requests-oauthlib        # For OAuth authentication
aiohttp                   # For making asynchronous HTTP requests
httpx                     # Optional: Another HTTP library that supports async

# Data manipulation libraries
numpy==1.26.4            # For numerical operations
pandas                    # Data manipulation and analysis
scipy                     # For scientific computations
spacy                     # NLP library

# Spacy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

# Caching libraries
cachelib                  # Caching library compatible with Flask/Caching
cachetools                # Cache utilities

# API libraries
huggingface_hub          # For Hugging Face model access
praw                     # For accessing Reddit API
tweepy                   # For accessing Twitter API
google-api-core          # Core libraries for Google API
google-api-python-client  # Client library for Google APIs
google-auth              # Authentication for Google services
youtube-transcript-api   # For YouTube transcript access

# Authentication libraries
cryptography              # For cryptographic operations

# Other dependencies
beautifulsoup4            # For HTML parsing
html2text                 # For converting HTML to plain text
nltk                     # Natural Language Toolkit
datasets                  # For working with datasets
gunicorn                  # WSGI HTTP server

# Development utilities
python-dotenv             # For loading environment variables
sentry-sdk                # For error tracking and monitoring
Werkzeug                  # Utilities for WSGI web applications

# Other libraries
annotated-types          # Type hints for Python
bitsandbytes              # Library for managing large tensors
blinker                   # For signal support
certifi                  # For SSL certificates
cffi                     # Foreign Function Interface for Python
charset-normalizer       # For character encoding
click                    # For creating command-line interfaces
colorama                 # For terminal text color
distro                   # For retrieving information about the Linux distribution
greenlet                 # For lightweight in-process concurrent programming
h11                      # HTTP/1.1 protocol library
httpcore                 # Low-level HTTP library
httplib2                 # Comprehensive HTTP client library
idna                     # Internationalized Domain Names in Applications (IDNA)
itsdangerous             # For secure cookie signing
Jinja2                   # Templating engine
jiter                    # Library for jittered sampling
MarkupSafe               # For safe string handling in HTML
marshmallow              # For object serialization and deserialization
pydantic                # Data validation and settings management using Python type annotations
pydantic_core           # Core functionality for Pydantic
proto-plus               # Protocol Buffers with better support
protobuf                 # For protocol buffer serialization
pyasn1                   # ASN.1 (Abstract Syntax Notation One) support
pyasn1_modules           # Additional modules for pyasn1
pycparser                # C parser in Python
pyparsing                # For parsing text
ratelimit                # For rate limiting in code
rsa                      # For RSA encryption and decryption
sniffio                  # For async testing utilities
thinc                    # Machine learning library
tokenizers               # For tokenization in NLP tasks
torchaudio               # For audio processing with PyTorch
torchvision              # For image processing with PyTorch
tqdm                     # For progress bar in loops
typing_extensions         # Backports of typing features
update-checker           # For checking for package updates
uritemplate              # For URI templating
urllib3                  # For working with URLs
websocket-client          # For WebSocket client support